.banner{
    background-color: rgb(52, 125, 250);
    height: 100vh;
}

.video{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.view-articles{
  background-color: black;
  color: white;
  border-radius : 30px;
  padding: 20px;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.view-articles::after, .view-articles::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background:#000;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom:0;
    z-index: -1;
    transition:transform 0.3S ease;
}

.view-articles:hover{
    transform: translate(-12px,-12px)
}

.view-articles:hover::after{
    transform: translate(6px,6px);
}

.view-articles:hover::before {
    transform: translate(12px, 12px);
}

.newsList{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card:hover{
    box-shadow:  5px 5px 5px rgb(52, 125, 250)
}
